<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediLink"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MediLink.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login / Signup -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />

        <!-- Main Dashboard with Bottom Navigation -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />

        <!-- Appointment Booking -->
        <activity
            android:name=".activities.BookingActivity"
            android:exported="false" />

        <!-- Appointment History -->
        <activity
            android:name=".activities.ScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false" />

        <!-- Medication Reminders -->
        <activity
            android:name=".activities.MedicationActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />

        <!-- Admin and Doctor Dashboards -->
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.DoctorDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
